<html>

<head>
</head>
<body>
<form class="form-horizontal">
  <div class="control-group">

    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">

    </div>
  </div>
  <div class="control-group">

    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Пароль">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Запомніць мяне
      </label>
      <button type="submit" class="btn"><%= f.submit "Увайсці" %></button>
    </div>
  </div>
</form>

</body>
</html>