
<% @posts.each do |post| %>
    <div class="row">
      <div class="span12">
        <section class="post">
        <h5><%= link_to post.title, post.url %></h5>
        <%= link_to "Рэдагаваць", edit_post_path(post)%>
        <%= link_to 'Выдаліць', post, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <%= link_to "Каментары", new_comment_path(:my => post.id) %>
        </section>
      </div>
    </div>
<% end %>

<p>
  <a href="http://localhost:3000/posts/new" class="btn btn-info ">стварыць пост</a>
</p>