.content{
    padding: 0 40px;
}

.post{
    margin: 5px 0;
}

.post h5{
    margin: 0;
}

.post h5 a{
    color: #555;
}

.form-condensed .control-label{
    width: 96px;
}

.form-condensed .controls{
    margin-left: 109px;
}

.form-add{
    margin: auto;
}